@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Hammersmith+One|Playfair+Display:400,700,900|Roboto:100,300,400,900");
html,
body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 22px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #fff; }

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }

a,
a:hover {
  color: #fff;
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }

.main-header {
  min-height: 671px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom; }

.top-line {
  padding-top: 20px;
  margin-bottom: 100px; }

.logo {
  font-family: 'Roboto';
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: 100;
  opacity: 0.85; }
  .logo a {
    color: #00E0D0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center; }
  .logo svg {
    padding-right: 12px;
    height: 50px;
    width: 44px;
    fill: #00E0D0; }

.flex-direction-column {
  flex-direction: column; }

.main-nav {
  overflow: hidden;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-transform: uppercase;
  font-weight: 900;
  flex-wrap: wrap;
  font-size: 13px; }
  .main-nav a {
    margin-right: 25px; }
    .main-nav a:last-child {
      margin-right: 0; }
    .main-nav a:hover {
      color: #00E0D0;
      transition: all .25s; }

.touch-menu {
  margin-top: -5px;
  font-size: 26px;
  display: none; }

.home .separator {
  margin-top: 20px;
  margin-bottom: 15px; }

.home .slick-dotted.slick-slider {
  margin-bottom: 30px; }

.home .slick-dots {
  position: absolute;
  bottom: -8%;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center; }
  .home .slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 0;
    padding: 0;
    cursor: pointer; }
    .home .slick-dots li button {
      font-size: 0;
      line-height: 0;
      display: block;
      width: 20px;
      height: 20px;
      padding: 5px;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: none;
      background: transparent; }
      .home .slick-dots li button:hover, .home .slick-dots li button:focus {
        outline: none; }
      .home .slick-dots li button:before {
        font-family: 'slick';
        font-size: 25px;
        line-height: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        content: '○';
        text-align: center;
        color: white;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
      .home .slick-dots li button:hover:before, .home .slick-dots li button:focus:before {
        color: #00E0D0;
        content: '•';
        font-size: 45px; }
  .home .slick-dots .slick-active button:before {
    color: #00E0D0;
    content: '•';
    font-size: 45px; }

.title {
  font-size: 32px;
  line-height: 1.2;
  font-family: 'Playfair Display', serif;
  margin-bottom: 0; }

.separator {
  display: inline-block;
  width: 50px;
  border: 1px solid #00E0D0; }

.home-description {
  line-height: 24px; }
  .home-description:first-of-type {
    margin-top: 0; }
  .home-description:last-of-type {
    margin-bottom: 60px; }

.btn {
  text-transform: uppercase;
  color: #00E0D0;
  font-family: 'Hammersmith One', sans-serif;
  border: 1px solid #00E0D0;
  padding: 11px 32px;
  border-radius: 1px;
  font-weight: 400;
  display: inline-block; }
  .btn:hover {
    color: #fff;
    background-color: #00E0D0;
    transition: all .45s; }

.ex-padding {
  padding-top: 70px;
  padding-bottom: 70px; }

.about {
  color: #413d4b; }
  .about p {
    margin: 30px 0;
    opacity: .75; }

.about-img {
  margin-bottom: 30px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center; }

.h2 {
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  margin-top: 0;
  color: #413d4b;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

.video-section {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 550px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center; }

.video-button {
  display: inline-block; }
  .video-button svg {
    width: 100px;
    height: 100px;
    fill: #fff; }
    .video-button svg:hover {
      fill: #00E0D0;
      transition: all .45s; }

.video-button-description {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase; }

.expertise {
  color: #333333; }
  .expertise .separator {
    border-color: #413d4b;
    opacity: .3; }
  .expertise i {
    font-size: 3rem;
    color: #00E0D0; }
  .expertise .under-header-text {
    color: #2f2d35; }

.expertise-item-wrap {
  margin-top: 80px; }

.under-header-text {
  color: #fff;
  line-height: 1.2;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  letter-spacing: 1px; }

.divider {
  width: 100%;
  height: 1px;
  background: #EBEBEB;
  overflow: hidden;
  margin: 20px 0px;
  display: inline-block; }

.h4 {
  line-height: 1.2;
  text-transform: uppercase;
  color: #413d4b; }

.teams {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .teams .h2 {
    color: #fff; }
  .teams .separator {
    border-color: #fff;
    opacity: .2; }
  .teams .btn {
    margin-top: 25px; }

.teams-item {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 45px;
  border: 1px solid #7B7790;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  .teams-item img {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #7B7790; }
  .teams-item .h4 {
    color: #fff;
    margin: 0; }

.teams-items-wrap {
  margin-bottom: 65px; }

.teams-description {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px; }

.teams-workers {
  text-transform: uppercase;
  display: inline-block;
  margin-top: 5px;
  color: #fafafa;
  opacity: .7; }

.join-call-text br {
  display: none; }

.works .works-item {
  position: relative;
  padding-left: 0;
  padding-right: 0; }
  .works .works-item img {
    display: inline-block;
    width: 100%;
    height: 100%; }

.works .row {
  margin-left: 0;
  margin-right: 0; }

.dribbble-button br {
  display: none; }

.works-item-wrapper {
  margin-top: 50px;
  margin-bottom: 70px; }

.jump-button {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-end; }
  .jump-button a {
    display: block;
    color: #413d4b;
    font-size: 14px;
    line-height: 1.2; }
    .jump-button a .fa-angle-right {
      margin-left: 5px;
      font-size: 18px; }
    .jump-button a:hover {
      color: #000;
      transition: .35s; }

.works-item-cont {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer; }
  .works-item-cont:hover {
    background-color: rgba(0, 0, 0, 0.75);
    transition: all .25s; }
    .works-item-cont:hover .works-item-cont-text {
      opacity: 1;
      transition: all .25s; }

.works-item-cont-text {
  opacity: 0;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 2px; }
  .works-item-cont-text i {
    display: block;
    color: #00E0D0;
    font-size: 23px;
    margin: 10px auto 0 auto;
    display: block; }

.testimonials {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .testimonials .slick-prev,
  .testimonials .slick-next {
    top: 25%;
    display: inline-block !important;
    z-index: 50;
    width: 25px;
    height: 87px; }
    .testimonials .slick-prev:before,
    .testimonials .slick-next:before {
      color: #9F9F9F;
      font-size: 75px; }
  .testimonials .slick-prev {
    left: -2.5%; }
  .testimonials .slick-next {
    right: -2.5%; }
  .testimonials .slick-slide {
    height: none;
    min-height: 78px; }
  .testimonials .slick-dots {
    position: absolute;
    bottom: -50px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center; }
    .testimonials .slick-dots li {
      position: relative;
      display: inline-block;
      width: 20px;
      height: 20px;
      margin: 0 0;
      padding: 0;
      cursor: pointer; }
      .testimonials .slick-dots li button {
        font-size: 0;
        line-height: 0;
        display: block;
        width: 20px;
        height: 20px;
        padding: 5px;
        cursor: pointer;
        color: transparent;
        border: 0;
        outline: none;
        background: transparent; }
        .testimonials .slick-dots li button:hover, .testimonials .slick-dots li button:focus {
          outline: none; }
        .testimonials .slick-dots li button:before {
          font-family: 'slick';
          font-size: 25px;
          line-height: 20px;
          position: absolute;
          top: 0;
          left: 0;
          width: 20px;
          height: 20px;
          content: '○';
          text-align: center;
          color: white;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale; }
        .testimonials .slick-dots li button:hover:before, .testimonials .slick-dots li button:focus:before {
          color: #00E0D0;
          content: '•';
          font-size: 45px; }
    .testimonials .slick-dots .slick-active button:before {
      color: #00E0D0;
      content: '•';
      font-size: 45px; }

.testimonials-font {
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 40px; }

.seized-quotes {
  display: inline-block;
  margin-top: 35px;
  font-size: 100px;
  opacity: .9; }

.testimonial-author-name {
  margin-top: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  text-transform: uppercase; }

.testimonial-author-profession {
  font-weight: 300;
  font-size: 13px;
  opacity: .7;
  display: block; }

.contact-form {
  margin-top: 30px; }

.contact-input {
  color: #413d4b;
  outline: none;
  box-sizing: border-box;
  display: block;
  min-width: 100%;
  padding: 13px 20px;
  margin-bottom: 22px;
  border: 1px solid #E5E5E5; }
  .contact-input:focus {
    box-shadow: 0px 0px 1px 1px #00E0D0;
    border: 1px solid #00E0D0; }
  .contact-input::-webkit-input-placeholder {
    opacity: .5; }
  .contact-input:-moz-placeholder {
    opacity: .5; }
  .contact-input:-ms-input-placeholder {
    opacity: .5; }
  .contact-input:-moz-placeholder {
    opacity: .5; }

.contact-area {
  height: 200px;
  resize: none; }

.contact-clients-img {
  display: block;
  margin-top: 45px; }
  .contact-clients-img:nth-child(5n + 1) {
    margin-top: 30px; }

.main-footer {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.footer-text {
  line-height: 26px; }

.left-footer-menu {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  margin-top: 97px;
  flex-wrap: wrap; }

.left-footer-menu-link {
  text-transform: uppercase;
  letter-spacing: 1px; }
  .left-footer-menu-link:hover {
    border-bottom: 1px solid #fff; }

.h5 {
  font-size: 15px;
  line-height: 26px;
  color: #fff;
  font-weight: 900;
  text-transform: uppercase; }

.footer-text-link {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: flex-start;
  width: 100%; }
  .footer-text-link .fa {
    display: block;
    float: left;
    width: 7%;
    margin-right: 1%;
    padding-top: 5px; }
  .footer-text-link span {
    width: 92%;
    float: right; }
  .footer-text-link:hover {
    transition: all .35s;
    opacity: .6; }

.center-footer-item,
.right-footer-item {
  margin-top: -10px; }
  .center-footer-item input[type="text"],
  .right-footer-item input[type="text"] {
    opacity: .75; }

.right-footer-item-form {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center; }

.right-footer-item-input {
  width: 70%;
  padding: 15px 20px;
  background: transparent;
  outline: none;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.7);
  margin-right: 10px; }
  .right-footer-item-input::-webkit-input-placeholder {
    opacity: .75;
    color: #fff; }
  .right-footer-item-input:-moz-placeholder {
    opacity: .75;
    color: #fff; }
  .right-footer-item-input:-ms-input-placeholder {
    opacity: .75;
    color: #fff; }
  .right-footer-item-input:-moz-placeholder {
    opacity: .75;
    color: #fff; }

.submit-btn {
  background-color: #fff;
  opacity: .5;
  padding: 5px 10px;
  width: 25%;
  height: 48px;
  outline: none;
  border: none;
  cursor: pointer; }
  .submit-btn:hover, .submit-btn:focus {
    opacity: 1;
    transition: .25s; }
  .submit-btn:before {
    content: "\f1d9";
    font-family: 'Fontawesome';
    text-align: center;
    font-size: 1rem; }

.social-list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  margin-top: 27px;
  flex-wrap: wrap; }
  .social-list li {
    margin-right: 8px; }
    .social-list li:last-child {
      margin-right: 0; }
    .social-list li svg {
      fill: #fff; }
    .social-list li:hover svg {
      transition: all .5s;
      fill: #00E0D0; }

.copyright {
  margin-top: 55px; }

.copyright-text {
  line-height: 26px;
  font-weight: 400; }

.footer-logo {
  justify-content: flex-start; }
